/**
 * https://tailwindcss.com/docs/adding-base-styles/
 */

@tailwind base;
@layer base {
  :root {
    --base: 16px;
    --baseUnitless: 16;
    --color-primary-yellow-filter: invert(98%) sepia(34%) saturate(4729%)
      hue-rotate(335deg) brightness(102%) contrast(107%);
    --color-primary-cyan-filter: invert(98%) sepia(87%) saturate(4083%)
      hue-rotate(127deg) brightness(100%) contrast(101%);
    --color-primary-purple-filter: invert(23%) sepia(98%) saturate(6670%)
      hue-rotate(273deg) brightness(102%) contrast(103%);

    --max-page-width: 1440px;
  }

  html,
  body {
    background-color: var(--color-black);
    max-width: 100vw;
    overflow-x: hidden;
    height: auto !important;
  }
  button {
    font-size: inherit;
    font-weight: inherit;
  }
  /** hides an arrow that appears on safari for summaries **/
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  html[data-theme='dark'],
  html[data-theme='light'],
  html[data-theme='dark'] body,
  html[data-theme='light'] body {
    background-color: var(--color-black);
  }

  a:hover {
    text-decoration: none;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 1.5rem;
  }
}
