:root {
  --color-black: #000000;
  --color-yellow: #ffec19;
  --color-blue: #24f2ff;
  --color-purple: #9a1aff;
  --color-white: #ffffff;
  --color-red: #ff2e00;
  --color-grey-dark: #333333;
  --tbd-font-mono: 'IBM Plex Mono';
  --tbd-font-sans: 'IBM Plex Sans';
  --tbd-line-height-heading: 1.5;
  --tbd-line-height: 1.75;
  --typography-h1-d-font-size: 3.052rem;
  --typography-h1-d-text-decoration: none;
  --typography-h1-d-font-family: var(--tbd-font-mono);
  --typography-h1-d-font-weight: 700;
  --typography-h1-d-font-style: normal;
  --typography-h1-d-font-stretch: normal;
  --typography-h1-d-letter-spacing: -1px;
  --typography-h1-d-line-height: var(--tbd-line-height-heading);
  --typography-h1-d-paragraph-indent: 0;
  --typography-h1-d-paragraph-spacing: 0;
  --typography-h1-d-text-case: none;
  --typography-h2-d-font-size: 2.441rem;
  --typography-h2-d-text-decoration: none;
  --typography-h2-d-font-family: var(--tbd-font-mono);
  --typography-h2-d-font-weight: 700;
  --typography-h2-d-font-style: normal;
  --typography-h2-d-font-stretch: normal;
  --typography-h2-d-letter-spacing: 0;
  --typography-h2-d-line-height: var(--tbd-line-height-heading);
  --typography-h2-d-paragraph-indent: 0;
  --typography-h2-d-paragraph-spacing: 0;
  --typography-h2-d-text-case: uppercase;
  --typography-body-1-d-font-size: 18px;
  --typography-body-1-d-text-decoration: none;
  --typography-body-1-d-font-family: var(--tbd-font-mono);
  --typography-body-1-d-font-weight: 400;
  --typography-body-1-d-font-style: normal;
  --typography-body-1-d-font-stretch: normal;
  --typography-body-1-d-letter-spacing: 0;
  --typography-body-1-d-line-height: var(--tbd-line-height);
  --typography-body-1-d-paragraph-indent: 0;
  --typography-body-1-d-paragraph-spacing: 16px;
  --typography-body-1-d-text-case: none;
  --typography-body-2-d-font-size: 14px;
  --typography-body-2-d-text-decoration: none;
  --typography-body-2-d-font-family: var(--tbd-font-mono);
  --typography-body-2-d-font-weight: 400;
  --typography-body-2-d-font-style: normal;
  --typography-body-2-d-font-stretch: normal;
  --typography-body-2-d-letter-spacing: 0;
  --typography-body-2-d-line-height: var(--tbd-line-height);
  --typography-body-2-d-paragraph-indent: 0;
  --typography-body-2-d-paragraph-spacing: 0;
  --typography-body-2-d-text-case: none;
  --typography-links-d-font-size: 18px;
  --typography-links-d-text-decoration: none;
  --typography-links-d-font-family: var(--tbd-font-mono);
  --typography-links-d-font-weight: 500;
  --typography-links-d-font-style: normal;
  --typography-links-d-font-stretch: normal;
  --typography-links-d-letter-spacing: 0;
  --typography-links-d-line-height: var(--tbd-line-height);
  --typography-links-d-paragraph-indent: 0;
  --typography-links-d-paragraph-spacing: 0;
  --typography-links-d-text-case: none;
  --typography-input-field-label-d-font-size: 12px;
  --typography-input-field-label-d-text-decoration: none;
  --typography-input-field-label-d-font-family: var(--tbd-font-mono);
  --typography-input-field-label-d-font-weight: 400;
  --typography-input-field-label-d-font-style: normal;
  --typography-input-field-label-d-font-stretch: normal;
  --typography-input-field-label-d-letter-spacing: 0;
  --typography-input-field-label-d-line-height: var(--tbd-line-height);
  --typography-input-field-label-d-paragraph-indent: 0;
  --typography-input-field-label-d-paragraph-spacing: 0;
  --typography-input-field-label-d-text-case: none;
  --typography-tags-d-font-size: 12px;
  --typography-tags-d-text-decoration: none;
  --typography-tags-d-font-family: var(--tbd-font-mono);
  --typography-tags-d-font-weight: 500;
  --typography-tags-d-font-style: normal;
  --typography-tags-d-font-stretch: normal;
  --typography-tags-d-letter-spacing: 0;
  --typography-tags-d-line-height: var(--tbd-line-height);
  --typography-tags-d-paragraph-indent: 0;
  --typography-tags-d-paragraph-spacing: 0;
  --typography-tags-d-text-case: none;
  --typography-h1-m-font-size: 32px;
  --typography-h1-m-text-decoration: none;
  --typography-h1-m-font-family: var(--tbd-font-mono);
  --typography-h1-m-font-weight: 700;
  --typography-h1-m-font-style: normal;
  --typography-h1-m-font-stretch: normal;
  --typography-h1-m-letter-spacing: -1px;
  --typography-h1-m-line-height: var(--tbd-line-height-heading);
  --typography-h1-m-paragraph-indent: 0;
  --typography-h1-m-paragraph-spacing: 0;
  --typography-h1-m-text-case: none;
  --typography-h2-m-font-size: 24px;
  --typography-h2-m-text-decoration: none;
  --typography-h2-m-font-family: var(--tbd-font-mono);
  --typography-h2-m-font-weight: 700;
  --typography-h2-m-font-style: normal;
  --typography-h2-m-font-stretch: normal;
  --typography-h2-m-letter-spacing: 0;
  --typography-h2-m-line-height: var(--tbd-line-height-heading);
  --typography-h2-m-paragraph-indent: 0;
  --typography-h2-m-paragraph-spacing: 0;
  --typography-h2-m-text-case: uppercase;
  --typography-body-1-m-font-size: 18px;
  --typography-body-1-m-text-decoration: none;
  --typography-body-1-m-font-family: var(--tbd-font-mono);
  --typography-body-1-m-font-weight: 400;
  --typography-body-1-m-font-style: normal;
  --typography-body-1-m-font-stretch: normal;
  --typography-body-1-m-letter-spacing: 0;
  --typography-body-1-m-line-height: var(--tbd-line-height);
  --typography-body-1-m-paragraph-indent: 0;
  --typography-body-1-m-paragraph-spacing: 16px;
  --typography-body-1-m-text-case: none;
  --typography-body-2-m-font-size: 12px;
  --typography-body-2-m-text-decoration: none;
  --typography-body-2-m-font-family: var(--tbd-font-mono);
  --typography-body-2-m-font-weight: 400;
  --typography-body-2-m-font-style: normal;
  --typography-body-2-m-font-stretch: normal;
  --typography-body-2-m-letter-spacing: 0;
  --typography-body-2-m-line-height: var(--tbd-line-height);
  --typography-body-2-m-paragraph-indent: 0;
  --typography-body-2-m-paragraph-spacing: 0;
  --typography-body-2-m-text-case: none;
  --typography-links-m-font-size: 18px;
  --typography-links-m-text-decoration: none;
  --typography-links-m-font-family: var(--tbd-font-mono);
  --typography-links-m-font-weight: 500;
  --typography-links-m-font-style: normal;
  --typography-links-m-font-stretch: normal;
  --typography-links-m-letter-spacing: 0;
  --typography-links-m-line-height: var(--tbd-line-height);
  --typography-links-m-paragraph-indent: 0;
  --typography-links-m-paragraph-spacing: 0;
  --typography-links-m-text-case: none;
  --typography-input-field-label-m-font-size: 12px;
  --typography-input-field-label-m-text-decoration: none;
  --typography-input-field-label-m-font-family: var(--tbd-font-mono);
  --typography-input-field-label-m-font-weight: 400;
  --typography-input-field-label-m-font-style: normal;
  --typography-input-field-label-m-font-stretch: normal;
  --typography-input-field-label-m-letter-spacing: 0;
  --typography-input-field-label-m-line-height: var(--tbd-line-height);
  --typography-input-field-label-m-paragraph-indent: 0;
  --typography-input-field-label-m-paragraph-spacing: 0;
  --typography-input-field-label-m-text-case: none;
  --typography-tags-m-font-size: 12px;
  --typography-tags-m-text-decoration: none;
  --typography-tags-m-font-family: var(--tbd-font-mono);
  --typography-tags-m-font-weight: 500;
  --typography-tags-m-font-style: normal;
  --typography-tags-m-font-stretch: normal;
  --typography-tags-m-letter-spacing: 0;
  --typography-tags-m-line-height: var(--tbd-line-height);
  --typography-tags-m-paragraph-indent: 0;
  --typography-tags-m-paragraph-spacing: 0;
  --typography-tags-m-text-case: none;
  --typography-h3-m-font-size: 18px;
  --typography-h3-m-text-decoration: none;
  --typography-h3-m-font-family: var(--tbd-font-mono);
  --typography-h3-m-font-weight: 500;
  --typography-h3-m-font-style: normal;
  --typography-h3-m-font-stretch: normal;
  --typography-h3-m-letter-spacing: 0;
  --typography-h3-m-line-height: var(--tbd-line-height-heading);
  --typography-h3-m-paragraph-indent: 0;
  --typography-h3-m-paragraph-spacing: 0;
  --typography-h3-m-text-case: none;
  --typography-h3-d-font-size: 1.953rem;
  --typography-h3-d-text-decoration: none;
  --typography-h3-d-font-family: var(--tbd-font-mono);
  --typography-h3-d-font-weight: 500;
  --typography-h3-d-font-style: normal;
  --typography-h3-d-font-stretch: normal;
  --typography-h3-d-letter-spacing: 0;
  --typography-h3-d-line-height: var(--tbd-line-height-heading);
  --typography-h3-d-paragraph-indent: 0;
  --typography-h3-d-paragraph-spacing: 0;
  --typography-h3-d-text-case: none;
  --typography-h4-d-font-size: 1.563rem;
  --typography-h4-d-text-decoration: none;
  --typography-h4-d-font-family: var(--tbd-font-mono);
  --typography-h4-d-font-weight: 700;
  --typography-h4-d-font-style: normal;
  --typography-h4-d-font-stretch: normal;
  --typography-h4-d-letter-spacing: 0;
  --typography-h4-d-line-height: var(--tbd-line-height-heading);
  --typography-h4-d-paragraph-indent: 0;
  --typography-h4-d-paragraph-spacing: 0;
  --typography-h4-d-text-case: none;
  --typography-h4-m-font-size: 18px;
  --typography-h4-m-text-decoration: none;
  --typography-h4-m-font-family: var(--tbd-font-mono);
  --typography-h4-m-font-weight: 700;
  --typography-h4-m-font-style: normal;
  --typography-h4-m-font-stretch: normal;
  --typography-h4-m-letter-spacing: 0;
  --typography-h4-m-line-height: var(--tbd-line-height-heading);
  --typography-h4-m-paragraph-indent: 0;
  --typography-h4-m-paragraph-spacing: 0;
  --typography-h4-m-text-case: none;
  --typography-body-1-d-bold-font-size: 18px;
  --typography-body-1-d-bold-text-decoration: none;
  --typography-body-1-d-bold-font-family: var(--tbd-font-mono);
  --typography-body-1-d-bold-font-weight: 700;
  --typography-body-1-d-bold-font-style: normal;
  --typography-body-1-d-bold-font-stretch: normal;
  --typography-body-1-d-bold-letter-spacing: 0;
  --typography-body-1-d-bold-line-height: var(--tbd-line-height);
  --typography-body-1-d-bold-paragraph-indent: 0;
  --typography-body-1-d-bold-paragraph-spacing: 16px;
  --typography-body-1-d-bold-text-case: none;
  --typography-body-1-m-bold-font-size: 18px;
  --typography-body-1-m-bold-text-decoration: none;
  --typography-body-1-m-bold-font-family: var(--tbd-font-mono);
  --typography-body-1-m-bold-font-weight: 700;
  --typography-body-1-m-bold-font-style: normal;
  --typography-body-1-m-bold-font-stretch: normal;
  --typography-body-1-m-bold-letter-spacing: 0;
  --typography-body-1-m-bold-line-height: var(--tbd-line-height);
  --typography-body-1-m-bold-paragraph-indent: 0;
  --typography-body-1-m-bold-paragraph-spacing: 16px;
  --typography-body-1-m-bold-text-case: none;
  --typography-list-item-bullets-d-font-size: 18px;
  --typography-list-item-bullets-d-text-decoration: none;
  --typography-list-item-bullets-d-font-family: var(--tbd-font-mono);
  --typography-list-item-bullets-d-font-weight: 400;
  --typography-list-item-bullets-d-font-style: normal;
  --typography-list-item-bullets-d-font-stretch: normal;
  --typography-list-item-bullets-d-letter-spacing: 0;
  --typography-list-item-bullets-d-line-height: var(--tbd-line-height);
  --typography-list-item-bullets-d-paragraph-indent: 0;
  --typography-list-item-bullets-d-paragraph-spacing: 16px;
  --typography-list-item-bullets-d-text-case: none;
  --typography-list-item-bullets-m-font-size: 18px;
  --typography-list-item-bullets-m-text-decoration: none;
  --typography-list-item-bullets-m-font-family: var(--tbd-font-mono);
  --typography-list-item-bullets-m-font-weight: 400;
  --typography-list-item-bullets-m-font-style: normal;
  --typography-list-item-bullets-m-font-stretch: normal;
  --typography-list-item-bullets-m-letter-spacing: 0;
  --typography-list-item-bullets-m-line-height: var(--tbd-line-height);
  --typography-list-item-bullets-m-paragraph-indent: 0;
  --typography-list-item-bullets-m-paragraph-spacing: 16px;
  --typography-list-item-bullets-m-text-case: none;
  --typography-links-d-underline-font-size: 18px;
  --typography-links-d-underline-text-decoration: underline;
  --typography-links-d-underline-font-family: var(--tbd-font-mono);
  --typography-links-d-underline-font-weight: 500;
  --typography-links-d-underline-font-style: normal;
  --typography-links-d-underline-font-stretch: normal;
  --typography-links-d-underline-letter-spacing: 0;
  --typography-links-d-underline-line-height: var(--tbd-line-height);
  --typography-links-d-underline-paragraph-indent: 0;
  --typography-links-d-underline-paragraph-spacing: 0;
  --typography-links-d-underline-text-case: none;
  --typography-links-m-underline-font-size: 18px;
  --typography-links-m-underline-text-decoration: underline;
  --typography-links-m-underline-font-family: var(--tbd-font-mono);
  --typography-links-m-underline-font-weight: 500;
  --typography-links-m-underline-font-style: normal;
  --typography-links-m-underline-font-stretch: normal;
  --typography-links-m-underline-letter-spacing: 0;
  --typography-links-m-underline-line-height: var(--tbd-line-height);
  --typography-links-m-underline-paragraph-indent: 0;
  --typography-links-m-underline-paragraph-spacing: 0;
  --typography-links-m-underline-text-case: none;
  --typography-list-item-d-font-size: 18px;
  --typography-list-item-d-text-decoration: none;
  --typography-list-item-d-font-family: var(--tbd-font-mono);
  --typography-list-item-d-font-weight: 500;
  --typography-list-item-d-font-style: normal;
  --typography-list-item-d-font-stretch: normal;
  --typography-list-item-d-letter-spacing: 0;
  --typography-list-item-d-line-height: var(--tbd-line-height);
  --typography-list-item-d-paragraph-indent: 0;
  --typography-list-item-d-paragraph-spacing: 16px;
  --typography-list-item-d-text-case: none;
  --typography-list-item-m-font-size: 18px;
  --typography-list-item-m-text-decoration: none;
  --typography-list-item-m-font-family: var(--tbd-font-mono);
  --typography-list-item-m-font-weight: 500;
  --typography-list-item-m-font-style: normal;
  --typography-list-item-m-font-stretch: normal;
  --typography-list-item-m-letter-spacing: 0;
  --typography-list-item-m-line-height: var(--tbd-line-height);
  --typography-list-item-m-paragraph-indent: 0;
  --typography-list-item-m-paragraph-spacing: 16px;
  --typography-list-item-m-text-case: none;
  --typography-table-headers-d-font-size: 18px;
  --typography-table-headers-d-text-decoration: none;
  --typography-table-headers-d-font-family: var(--tbd-font-mono);
  --typography-table-headers-d-font-weight: 700;
  --typography-table-headers-d-font-style: normal;
  --typography-table-headers-d-font-stretch: normal;
  --typography-table-headers-d-letter-spacing: 0;
  --typography-table-headers-d-line-height: var(--tbd-line-height);
  --typography-table-headers-d-paragraph-indent: 0;
  --typography-table-headers-d-paragraph-spacing: 0;
  --typography-table-headers-d-text-case: uppercase;
  --typography-table-headers-m-font-size: 18px;
  --typography-table-headers-m-text-decoration: none;
  --typography-table-headers-m-font-family: var(--tbd-font-mono);
  --typography-table-headers-m-font-weight: 700;
  --typography-table-headers-m-font-style: normal;
  --typography-table-headers-m-font-stretch: normal;
  --typography-table-headers-m-letter-spacing: 0;
  --typography-table-headers-m-line-height: var(--tbd-line-height);
  --typography-table-headers-m-paragraph-indent: 0;
  --typography-table-headers-m-paragraph-spacing: 0;
  --typography-table-headers-m-text-case: uppercase;
  --typography-h2-d-medium-font-size: 24px;
  --typography-h2-d-medium-text-decoration: none;
  --typography-h2-d-medium-font-family: var(--tbd-font-mono);
  --typography-h2-d-medium-font-weight: 500;
  --typography-h2-d-medium-font-style: normal;
  --typography-h2-d-medium-font-stretch: normal;
  --typography-h2-d-medium-letter-spacing: 0;
  --typography-h2-d-medium-line-height: var(--tbd-line-height-heading);
  --typography-h2-d-medium-paragraph-indent: 0;
  --typography-h2-d-medium-paragraph-spacing: 0;
  --typography-h2-d-medium-text-case: none;
  --typography-h2-m-medium-font-size: 24px;
  --typography-h2-m-medium-text-decoration: none;
  --typography-h2-m-medium-font-family: var(--tbd-font-mono);
  --typography-h2-m-medium-font-weight: 500;
  --typography-h2-m-medium-font-style: normal;
  --typography-h2-m-medium-font-stretch: normal;
  --typography-h2-m-medium-letter-spacing: 0;
  --typography-h2-m-medium-line-height: var(--tbd-line-height-heading);
  --typography-h2-m-medium-paragraph-indent: 0;
  --typography-h2-m-medium-paragraph-spacing: 0;
  --typography-h2-m-medium-text-case: none;
  --typography-tags-d-underline-font-size: 12px;
  --typography-tags-d-underline-text-decoration: underline;
  --typography-tags-d-underline-font-family: var(--tbd-font-mono);
  --typography-tags-d-underline-font-weight: 500;
  --typography-tags-d-underline-font-style: normal;
  --typography-tags-d-underline-font-stretch: normal;
  --typography-tags-d-underline-letter-spacing: 0;
  --typography-tags-d-underline-line-height: var(--tbd-line-height);
  --typography-tags-d-underline-paragraph-indent: 0;
  --typography-tags-d-underline-paragraph-spacing: 0;
  --typography-tags-d-underline-text-case: none;
  --typography-tags-m-underline-font-size: 12px;
  --typography-tags-m-underline-text-decoration: underline;
  --typography-tags-m-underline-font-family: var(--tbd-font-mono);
  --typography-tags-m-underline-font-weight: 500;
  --typography-tags-m-underline-font-style: normal;
  --typography-tags-m-underline-font-stretch: normal;
  --typography-tags-m-underline-letter-spacing: 0;
  --typography-tags-m-underline-line-height: var(--tbd-line-height);
  --typography-tags-m-underline-paragraph-indent: 0;
  --typography-tags-m-underline-paragraph-spacing: 0;
  --typography-tags-m-underline-text-case: none;
  --typography-h3-d-underline-font-size: 18px;
  --typography-h3-d-underline-text-decoration: underline;
  --typography-h3-d-underline-font-family: var(--tbd-font-mono);
  --typography-h3-d-underline-font-weight: 500;
  --typography-h3-d-underline-font-style: normal;
  --typography-h3-d-underline-font-stretch: normal;
  --typography-h3-d-underline-letter-spacing: 0;
  --typography-h3-d-underline-line-height: var(--tbd-line-height-heading);
  --typography-h3-d-underline-paragraph-indent: 0;
  --typography-h3-d-underline-paragraph-spacing: 0;
  --typography-h3-d-underline-text-case: none;
  --typography-h3-m-underline-font-size: 18px;
  --typography-h3-m-underline-text-decoration: underline;
  --typography-h3-m-underline-font-family: var(--tbd-font-mono);
  --typography-h3-m-underline-font-weight: 500;
  --typography-h3-m-underline-font-style: normal;
  --typography-h3-m-underline-font-stretch: normal;
  --typography-h3-m-underline-letter-spacing: 0;
  --typography-h3-m-underline-line-height: var(--tbd-line-height-heading);
  --typography-h3-m-underline-paragraph-indent: 0;
  --typography-h3-m-underline-paragraph-spacing: 0;
  --typography-h3-m-underline-text-case: none;
  --typography-body-3-m-font-size: 14px;
  --typography-body-3-m-text-decoration: none;
  --typography-body-3-m-font-family: var(--tbd-font-mono);
  --typography-body-3-m-font-weight: 400;
  --typography-body-3-m-font-style: normal;
  --typography-body-3-m-font-stretch: normal;
  --typography-body-3-m-letter-spacing: 0;
  --typography-body-3-m-line-height: var(--tbd-line-height);
  --typography-body-3-m-paragraph-indent: 0;
  --typography-body-3-m-paragraph-spacing: 0;
  --typography-body-3-m-text-case: none;
  --typography-h1-t-font-size: 48px;
  --typography-h1-t-text-decoration: none;
  --typography-h1-t-font-family: var(--tbd-font-mono);
  --typography-h1-t-font-weight: 700;
  --typography-h1-t-font-style: normal;
  --typography-h1-t-font-stretch: normal;
  --typography-h1-t-letter-spacing: -1px;
  --typography-h1-t-line-height: var(--tbd-line-height-heading);
  --typography-h1-t-paragraph-indent: 0;
  --typography-h1-t-paragraph-spacing: 0;
  --typography-h1-t-text-case: none;
  --typography-breadcrumbs-d-underline-font-size: 16px;
  --typography-breadcrumbs-d-underline-text-decoration: underline;
  --typography-breadcrumbs-d-underline-font-family: var(--tbd-font-mono);
  --typography-breadcrumbs-d-underline-font-weight: 400;
  --typography-breadcrumbs-d-underline-font-style: normal;
  --typography-breadcrumbs-d-underline-font-stretch: normal;
  --typography-breadcrumbs-d-underline-letter-spacing: 0;
  --typography-breadcrumbs-d-underline-line-height: var(--tbd-line-height);
  --typography-breadcrumbs-d-underline-paragraph-indent: 0;
  --typography-breadcrumbs-d-underline-paragraph-spacing: 0;
  --typography-breadcrumbs-d-underline-text-case: none;
  --typography-breadcrumbs-d-font-size: 16px;
  --typography-breadcrumbs-d-text-decoration: none;
  --typography-breadcrumbs-d-font-family: var(--tbd-font-mono);
  --typography-breadcrumbs-d-font-weight: 400;
  --typography-breadcrumbs-d-font-style: normal;
  --typography-breadcrumbs-d-font-stretch: normal;
  --typography-breadcrumbs-d-letter-spacing: 0;
  --typography-breadcrumbs-d-line-height: var(--tbd-line-height);
  --typography-breadcrumbs-d-paragraph-indent: 0;
  --typography-breadcrumbs-d-paragraph-spacing: 0;
  --typography-breadcrumbs-d-text-case: none;
}
