body {
  margin: 0;
  font-family: sans-serif;
}

body > progress {
  position: fixed;
  inset: 0;
  display: block;
  width: 50vw;
  margin: calc(50vh - 0.5em) 25vw;
}

body > progress ~ * {
  display: none;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em 2em 5em;
}

main h1 {
  text-align: center;
}

main progress {
  vertical-align: middle;
  visibility: hidden;
}

main input[type='file'] {
  display: block;
  margin-bottom: 0.5em;
}

main textarea {
  display: block;
  width: 100%;
  min-height: 8em;
  font-family: monospace;
  resize: vertical;
}

main code {
  font-size: 90%;
}

main .output {
  width: 100%;
  margin-top: 1em;
}
