@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #FFEC19;
  --ifm-color-primary-dark: #FFEC19;
  --ifm-color-primary-darker: #FFEC19;
  --ifm-color-primary-darkest: #FFEC19;
  --ifm-color-primary-light: #FFEC19;
  --ifm-color-primary-lighter: #FFEC19;
  --ifm-color-primary-lightest: #FFEC19;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-color: 'black';
  --ifm-color-secondary: #9A1AFF;
  --ifm-background-color: #000;
}

.hero-primary {
--ifm-hero-background-color: var(--ifm-color-primary);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


/**SIDEBAR **/


.menu.thin-scrollbar {
  background-color: var(--ifm-color-primary);
}

.menu__link {
  color: black;
  border-radius: 0;
}

.menu__list-item .menu__link:hover {
  color: var(--ifm-color-primary);
  background-color: var(--ifm-background-color);
}

.theme-doc-sidebar-item-category-level-1 {
  position: relative;
  margin-bottom: 24px;
}

.theme-doc-sidebar-item-category-level-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}


.menu__list .web5-icon a::before {
  content: url("../../static/img/web5-icon.svg");
  font-family: 'FontAwesome';
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: 3px;
  right: 8px;
}

.menu__list .tbdex-icon a::before {
  content: url("../../static/img/light-bulb.svg");
  font-family: 'FontAwesome';
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: 3px;
  right: 8px;
}

.menu__list a[href*="web5"]::before:hover {
  content: url("../../static/img/web5-icon.svg");
  /* Example: Font Awesome user icon (use the appropriate unicode) */
  font-family: 'FontAwesome';
  /* Ensure you have included Font Awesome */
  display: inline-block;
  margin-left: 5px;
  /* Adjust the spacing as needed */
  vertical-align: middle;
}

.menu__list a[href*="tbdex"]::before:hover {
  content: url("../../static/img/light-bulb.svg");
  font-family: 'FontAwesome';
  /* Ensure you have included Font Awesome */
  display: inline-block;
  margin-left: 5px;
  /* Adjust the spacing as needed */
  vertical-align: middle;
  /* Align the icon with the text */
}


/* Bread Crumbs */

.theme-doc-breadcrumbs .breadcrumbs__link {
  color: var(--ifm-color-primary);
}

.breadcrumbs__item:not(:last-child)::after {
  background: url('../../static/img//caret.svg') center no-repeat;
  content: ' ';
  display: inline-block;
  filter: var(--ifm-breadcrumb-separator-filter);
  height: calc(var(--ifm-breadcrumb-separator-size) * var(--ifm-breadcrumb-size-multiplier) * var(--ifm-breadcrumb-separator-size-multiplier));
  margin: 0 var(--ifm-breadcrumb-spacing);
  opacity: 0.8;
  width: calc(var(--ifm-breadcrumb-separator-size) * var(--ifm-breadcrumb-size-multiplier) * var(--ifm-breadcrumb-separator-size-multiplier));
}


/* Navbar */
.navbar {
  background-color: var(--ifm-color-primary);
}

.navbar a {
  color: black;
}