name: Test and Deploy to Netlify

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      reason:
        description: 'Manual trigger'
        required: true
        default: 'Just because.'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright browsers
        run: pnpm playwright install --with-deps
      - name: Start dwn-server container
        run: docker-compose up -d dwn-server

      - name: Wait for dwn-server to be ready
        run: until curl -sf http://localhost:3000/health; do echo -n .; sleep .1; done

      - name: Run tests
        run: pnpm test
        env:
          VITE_APP_TEST_DWN_URL: http://localhost:3000

      - name: Run apps tests
        run: pnpm --filter feedback-server test run

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Netlify Build via Build Hook with Dynamic Params
        run: |
          BRANCH_NAME=$(echo "${GITHUB_REF#refs/heads/}")
          ENCODED_BRANCH_NAME=$(echo "$BRANCH_NAME" | sed 's|/|%2F|g')
          TITLE="${BRANCH_NAME} Branch Deploy"
          ENCODED_TITLE=$(echo "$TITLE" | sed 's| |%20|g')
          curl -v -X POST -d "trigger_branch=$ENCODED_BRANCH_NAME&trigger_title=$ENCODED_TITLE&clear_cache=true" "https://api.netlify.com/build_hooks/${{ secrets.TEST_BUILDHOOK }}"
